<% if (site.customConfig['listid']) { %>
    <div id="aplayer9" class="aplayer aplayer-fixed aplayer-narrow" data-id="<%= site.customConfig['listid'] %>" data-server=”<%= site.customConfig['listype'] %>" data-type="playlist" data-autoplay=”true” data-mode=”circulation”></div>
<% } else { %>
    <div id="aplayer9" class="aplayer aplayer-fixed aplayer-narrow" data-id="864701453" data-server=”netease" data-type="playlist" data-autoplay=”true” data-mode=”circulation”></div>
<% } %>
