<div class="fadeInUp author-info">
    <div class="author-avatar pull-left">
        <img class="rotated" src="<%= themeConfig.domain %>/images/avatar.png" >
    </div>
    <% if (site.customConfig.username) { %>
    <div class="author-description">
        <div class="author-title">
            <div class="author-link" rel="author">
                <%= site.customConfig.username %>
            </div>
        </div>
        <% } %>
        <% if (site.customConfig.userdesc) { %>
            <p class="author-bio">
                <%= site.customConfig.userdesc %>
                <a href="https://borber.cn/post/about">More..</a>
            </p>
    </div>
    <% } %>
</div>

