<% if (site.customConfig['BirthDay']) { %>
    <!--网站稳定运行代码-->
    网站已稳定运行：<span id="website_running_time" style="color: #00BFFF;"><font style="color:#FFF">398</font> 天 <font style="color:#FFF">17</font> 时 <font style="color:#FFF">28</font> 分 <font style="color:#FFF">54</font> 秒</span>
    <script language="javascript">
        function show_date_time(){
            window.setTimeout("show_date_time()", 1000);
            BirthDay=new Date("<%= site.customConfig['BirthDay'] %>");
            today=new Date();
            timeold=(today.getTime()-BirthDay.getTime());
            sectimeold=timeold/1000
            secondsold=Math.floor(sectimeold);
            msPerDay=24*60*60*1000
            e_daysold=timeold/msPerDay
            daysold=Math.floor(e_daysold);
            e_hrsold=(e_daysold-daysold)*24;
            hrsold=Math.floor(e_hrsold);
            e_minsold=(e_hrsold-hrsold)*60;
            minsold=Math.floor((e_hrsold-hrsold)*60);
            seconds=Math.floor((e_minsold-minsold)*60);
            website_running_time.innerHTML='<font style=color:#FFF>'+daysold+'</font> 天 <font style=color:#FFF>'+hrsold+'</font> 时 <font style=color:#FFF>'+minsold+'</font> 分 <font style=color:#FFF>'+seconds+'</font> 秒';}
        show_date_time();
    </script>
<% } %>