<style>
    .image-header{
    <% if (site.customConfig['headimg']) { %>
        background: url(<%= site.customConfig['headimg'] %>) 100% / cover no-repeat;
        <% } else { %>
        background: url(https://www.z4a.net/images/2019/08/16/800w5640h5853rfviewer_421163d0ca900f039c2.jpg) 100% / cover no-repeat;
    <% } %>
        background-attachment: fixed;
        text-align: center;
    }
</style>
<section class="image-header">
    <div class="dark">
        <div class="index-title">
            <h1 class="site-title"><a href="https://borber.cn" title="BORBER">BORBER</a></h1>
            <h2 class="site-description">世俗为枷锁 世人皆自缚</h2>
        </div>
    </div>
</section>
<div>
    <br>
</div>