
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.5.0/tocbot.css">


<div class="col-mb-12 col-2 kit-hidden-tb">
    <div id="toc-container" style="height: 8301.05px;">
        <div class="toc">

        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/tocbot/4.5.0/tocbot.min.js"></script>


<script>
    $(function () {
        tocbot.init({
            // Where to render the table of contents.
            tocSelector: '.toc',
            // Where to grab the headings to build the table of contents.
            contentSelector: 'article',
            // Which headings to grab inside of the contentSelector element.
            headingSelector: 'h1,h2,h3,h4,h5',
            positionFixedSelector: '.toc',
            positionFixedClass: 'is-position-fixed',
            fixedSidebarOffset: 'auto',
            scrollSmooth: true,
            scrollSmoothOffset: -80,
            headingsOffset: -500
        });
    });
</script>